body{
    text-align: center;
    margin-top: 150px;
    background-color: bisque;
    background-image: url("360_F_507666066_J8zsoPcCnW0uGcEYzoT0RElpHACKxd6e.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    margin-right: 300px;
}
#res:hover{
  background-color: burlywood;
}
button:hover{
background-color: blue;
}
input:hover{
    background-color: burlywood;
}
